
  <ul class="list-group">
    <li class="list-group-item">
      <span class="glyphicon glyphicon-cog"></span>
      <%= link_to "Project Settings", edit_project_path(@project) %>
    </li>
  </ul>

  <hr>

  <h3>Taskflows</h3>
  <ul class="list-group">

    <% @taskflows.each do |tf| %>
      <li class="list-group-item">
        <span class="glyphicon glyphicon-tasks"></span>
        <%= link_to tf.title, edit_taskflow_path(tf) %>
        <%= render "shared/admin_remove", {:entity => tf} %>
      </li>
    <% end %>

      <li class="list-group-item">
        <center>
          <%= link_to new_taskflow_path(project_id: @project.id) do %>
           <span class="glyphicon glyphicon-plus-sign"></span>
            Add taskflow
          <% end %>
        </center>
      </li>
  </ul>

  <hr>

  <h3>Datasets</h3>
  <ul class="list-group">

    <% @datasets.each do |ds| %>
      <li class="list-group-item">
        <span class="glyphicon glyphicon-list-alt"></span>
        <%= link_to ds.title, edit_dataset_path(ds, project_id: @project) %>
        <%= render "shared/admin_remove", {:entity => ds} %>
      </li>
    <% end %>
    <li class="list-group-item">
        <center>
          <%= link_to new_dataset_path(project_id: @project.id) do %>
           <span class="glyphicon glyphicon-plus-sign"></span>
            Add dataset
          <% end %>
        </center>
      </li>
  </ul>
