<% task_type = @task[:task_type] %>
<h2 id="question" data=<%= task_type %>><%= @task.title %></h2>

<hr>

<div id="answers">

  <ul id="answer-list" class="list-group">

  <% if task_type == 1 %>
      <% data = @task.data %>
      <% data.each do |question| %>
        <li data="<%= question[:next] %>" class="answer list-group-item list-group-item-action" ><%= question[:text] %></li>
      <% end %>
  <% end %>

  </ul>

  <% if task_type == 2 %>
  <div id="anisam-panel" class="row"></div>
  <div id="anisam-sliders" class="container-fluid">

      <%= render "shared/anisam" %>

  </div>
  <% end %>

  <% if task_type == 3 %>
    <div id="visicount-panel"></div>
    <div id="visicount-sliders" class="container-fluid">
      <%= render "shared/visicount" %>
    </div>

  <% end %>

  <button id="next-button" class="btn pull-right">Next</button>

</div>
