<script type="text/javascript">
  gl = {};
  gl.project = <%= @project.id %>;
  gl.taskflow = <%= @taskflow.id %>;
  gl.task = <%= @task.id %>
</script>

<div class="container-fluid">
  <div class="row">

    <div id="image-panel" class="col-md-8">
      <img id="image" class="img-responsive center-block"> </img>
    </div>

    <div id="question-panel" class="col-md-4">
      <%= render "pages/classify_answers" %>
    </div>

      <% if false %>
        <%= bootstrap_form_for @response do |f| %>
          <% data = @task.data %>
          <%= f.form_group :data["answer"] do %>
            <% data.each_with_index do |q, i| %>
              <%= f.radio_button :data, q[:next], :label => q[:text] %>
            <% end %>
          <% end %>
          <button class='btn btn_primary dummy_button'>Next</button>
          <%= f.submit "Next", class: "btn btn_primary real_button" %>
        <% end %>
        </div>
      <% end %>

  </div>

</div>
