
<script type="text/javascript">
  gl = {};
  gl.project = <%= @project.id %>;
  gl.taskflow = <%= @taskflow.id %>;
  gl.task = <%= @task.id %>
  gl.task_type = <%= @task.task_type %>
</script>

<div class="container-fluid">
  <div class="row">

    <div id="image-panel" class="col-md-8">
      <img id="image" class="img-responsive center-block"> </img>
    </div>

    <div id="question-panel" class="col-md-4 container">
      <%= render "pages/classify_answers" %>
    </div>

  </div>

</div>
