<!DOCTYPE html>
<html>
<head>
  <title>AAM Lab</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body data-controller="<%= controller_name %>" data-action="<%= action_name %>"
  <% if content_for?(:body_attributes) %>
    <%= yield(:body_attributes) %>
  <% end %>>

<%= render "shared/navbar" %>

<%= yield %>

</body>
</html>
